# Applying functions in Pandas DataFrame

In [1]:
import pandas as pd

In [2]:
data = { 'even': range(20,0,-2),
         'odd':  range(1,21,2)
       }
df = pd.DataFrame(data)
df

   even  odd
0    20    1
1    18    3
2    16    5
3    14    7
4    12    9
5    10   11
6     8   13
7     6   15
8     4   17
9     2   19

In [3]:
sum(range(11))

55

### **Apply**

In [4]:
df.apply(sum)

even    110
odd     100
dtype: int64

In [5]:
df

   even  odd
0    20    1
1    18    3
2    16    5
3    14    7
4    12    9
5    10   11
6     8   13
7     6   15
8     4   17
9     2   19

In [8]:
df.apply(sum,axis=1)

0    21
1    21
2    21
3    21
4    21
5    21
6    21
7    21
8    21
9    21
dtype: int64

### **Define column Function**

In [9]:
def hundred_plus(col):
    if sum(col) > 100:
        return "Greater than 100"
    return "Not greater than 100"

In [10]:
df.apply(hundred_plus)

even        Greater than 100
odd     Not greater than 100
dtype: object

In [11]:
def label(row):
    if row['even'] % 3 == 0:
        return True
    elif row['odd'] % 3 == 0:
        return True
    return False

In [12]:
df.apply(label, axis=1)

0    False
1     True
2    False
3    False
4     True
5    False
6    False
7     True
8    False
9    False
dtype: bool

### **Expanding Results**

In [13]:
def ret_list(row):
    ret_val = [False, False]
    if row['even'] > 6:
        ret_val[0] = True

    if row['odd'] > 6:
        ret_val[1] = True

    return ret_val

In [15]:
df.apply(ret_list, axis=1)

0    [True, False]
1    [True, False]
2    [True, False]
3     [True, True]
4     [True, True]
5     [True, True]
6     [True, True]
7    [False, True]
8    [False, True]
9    [False, True]
dtype: object

In [16]:
df.apply(ret_list, axis = 1, result_type = 'expand')

       0      1
0   True  False
1   True  False
2   True  False
3   True   True
4   True   True
5   True   True
6   True   True
7  False   True
8  False   True
9  False   True

### **Apply a column**

In [17]:
def div_three(row):
    if row %3 == 0:
        return 'Divisible by 3'
    return 'Not divisible by 3'

In [18]:
df.even.apply(div_three)

0    Not divisible by 3
1        Divisible by 3
2    Not divisible by 3
3    Not divisible by 3
4        Divisible by 3
5    Not divisible by 3
6    Not divisible by 3
7        Divisible by 3
8    Not divisible by 3
9    Not divisible by 3
Name: even, dtype: object