# NOTES:

In [2]:
import pandas as pd

In [3]:
out = []

for x in range(0,12,2):
    out.append(x**2)

    print(out)

[0]
[0, 4]
[0, 4, 16]
[0, 4, 16, 36]
[0, 4, 16, 36, 64]
[0, 4, 16, 36, 64, 100]

In [4]:
out = []

for x in range(0,12,2):
    out.append(x**2)

print(out)

[0, 4, 16, 36, 64, 100]

In [5]:
[ x**2 for x in range(12) if x%2==0]

[0, 4, 16, 36, 64, 100]

In [6]:
[ x*2 for x in range(0,12,2) if x**2]

[4, 8, 12, 16, 20]

In [7]:
[ x for x in range(0,12,2) if x**2]

[2, 4, 6, 8, 10]

In [8]:
[ x*2 for x in range(0,12,2) ]

[0, 4, 8, 12, 16, 20]

In [12]:
file_path = r'C:\Users\1_2ta\Documents\py\data\testing.csv'
data = pd.read_csv(file_path)

     class  max_ndvi  20150720_N  20150602_N  20150517_N  20150501_N  \
0    water  2750.110   1361.8900    -247.508  -521.17300   -1123.910
1    water  2646.250   1760.8500     481.100     6.26571     398.950
2    water  3509.620   3509.6200    -241.320 -1239.32000    -330.388
3    water  2820.470   2138.6900    -126.186  -522.28100    -741.163
4    water  2684.130   1995.8000   -1029.570  1713.62000    -472.258
..     ...       ...         ...         ...         ...         ...
295  water   491.678  -1673.7400   -2514.480 -2451.19000   -2738.440
296  water   556.093    -96.8233    -412.727 -1795.40000   -2363.820
297  water   987.461  -2364.6000    -155.592 -1422.09000   -1713.400
298  water   973.953  -3004.6300   -1217.120   180.12200   -1113.890
299  water   516.427  -2975.1000   -1129.790   463.74800   -5355.400

     20150415_N  20150330_N  20150314_N  20150226_N  ...  20140610_N  \
0     2653.0800   -264.4140   -456.4660  2080.85000  ...     2380.00
1     2646.2500    550.9820     92.6923  2188.03000  ...     2009.69
2     1257.1900   -175.1710   -294.5000 -1315.06000  ...     1838.51
3     2334.7000   -207.4360    -76.9686  2820.47000  ...     2098.55
4     2526.9900    -91.7429   -146.2260  2487.71000  ...     2684.13
..          ...         ...         ...         ...  ...         ...
295     64.4464  -2275.0300  -2881.1000 -4738.97000  ...    -2257.89
296  -2168.1900  -2162.6800  -3155.7400 -4416.11000  ...    -3991.91
297    465.6220  -2230.4000  -3088.7300 -5010.32000  ...    -2484.50
298    438.4180  -2442.5100  -3210.5600 -3237.74000  ...    -3291.49
299    193.5110  -2590.1600  -3113.5200    -2.38883  ...    -3058.23

     20140525_N  20140509_N  20140423_N  20140407_N  20140322_N  20140218_N  \
0      1078.400    1778.030    2673.610   -178.9710   2238.5800    1000.760
1      1083.700    2029.520    1033.900    -19.6148   2183.6600     927.882
2      1538.750     846.783     965.654   -468.0240   -222.3120    1124.250
3       984.456    2239.330     593.874   1540.8800   2398.4200     846.470
4      1432.150    2174.890    1321.690   1351.5800   2381.9500     870.890
..          ...         ...         ...         ...         ...         ...
295   -2582.420   -1699.100   -2295.300    306.4830    209.4030     221.920
296   -2614.910   -2109.840   -2687.180  -2853.8900     71.3402     -86.414
297   -1756.080   -3820.430   -1988.230    433.8520    291.8000     254.548
298   -2018.450   -3472.650   -3109.070    511.7920    369.0970     276.948
299   -2276.180   -3335.000   -2929.190  -1007.5000    271.0580     307.997

     20140202_N  20140117_N  20140101_N
0      -81.5418    1146.260   -1566.490
1      668.7500    1519.740    -568.973
2     1132.9000     594.059    -993.658
3      572.3080    1311.610   -1396.500
4     1174.3300     991.427    -185.322
..          ...         ...         ...
295  -4885.1500   -2630.590     356.233
296  -5109.0100     324.637   -4316.580
297  -4259.3000     412.115   -1170.750
298  -5574.5100     298.739     460.419
299  -5453.3300     307.495     417.124

[300 rows x 29 columns]

In [13]:
file_path = r'C:\Users\1_2ta\Documents\py\data\training.csv'
data = pd.read_csv(file_path)
print(data)

            class  max_ndvi  20150720_N  20150602_N  20150517_N  20150501_N  \
0           water   997.904    637.5950     658.668   -1882.030    -1924.36
1           water   914.198    634.2400     593.705   -1625.790    -1672.32
2           water  3800.810   1671.3400    1206.880     449.735     1071.21
3           water   952.178     58.0174   -1599.160     210.714    -1052.63
4           water  1232.120     72.5180   -1220.880     380.436    -1256.93
...           ...       ...         ...         ...         ...         ...
10540  impervious  7579.580   6072.5000    3803.140    3902.220     3897.43
10541  impervious  2780.930   1895.6800    1454.740    1265.480     1033.56
10542  impervious  5833.760   3465.7400    1283.320     413.412     4391.05
10543  impervious  3079.310   2435.3000    1444.400    1133.760     1278.74
10544  impervious  7352.570   6941.1900    1667.870    5084.780     4832.13

       20150415_N  20150330_N  20150314_N  20150226_N  ...  20140610_N  \
0         997.904   -1739.990     630.087   -1628.240  ...    -921.193
1         914.198    -692.386     707.626   -1670.590  ...    -954.719
2         546.371    1077.840     214.564     849.599  ...    1562.210
3         578.807   -1564.630    -858.390     729.790  ...   -1025.880
4         515.805   -1413.180    -802.942     683.254  ...   -1813.950
...           ...         ...         ...         ...  ...         ...
10540    3767.050    3985.770    4122.540    4240.230  ...    7340.160
10541    1930.380    1057.150    1471.600    1427.340  ...     888.408
10542    1146.820    4473.050    1614.750     770.469  ...    5833.760
10543     927.765    1917.040    1514.920    1685.130  ...    1686.860
10544    1588.950    5978.190    5462.330    3068.030  ...    7352.570

       20140525_N  20140509_N  20140423_N  20140407_N  20140322_N  20140218_N  \
0       -1043.160   -1942.490     267.138     366.608     452.238     211.328
1        -933.934    -625.385     120.059     364.858     476.972     220.878
2        1566.160    2208.440    1056.600     385.203     300.560     293.730
3         368.622   -1786.950   -1227.800     304.621     291.336     369.214
4         155.624   -1189.710    -924.073     432.150     282.833     298.320
...           ...         ...         ...         ...         ...         ...
10540    5513.730    1538.240    3507.360    1099.800     461.336     406.031
10541    2093.020    1232.110    1190.830    1441.460    1170.880    1095.000
10542    4047.320    4515.800     433.177     277.296     744.143     315.503
10543    2050.940    1848.100    1725.820    1935.410    2089.710     668.160
10544    3289.860    3729.150    1994.980    3556.040    5299.900    1562.760

       20140202_N  20140117_N  20140101_N
0        -2203.02   -1180.190     433.906
1        -2250.00   -1360.560     524.075
2         2762.57     150.931    3800.810
3        -2202.12     600.359   -1343.550
4        -2197.36     626.379    -826.727
...           ...         ...         ...
10540     4652.03    2774.980     500.864
10541     1818.65    2501.720    1247.770
10542     3759.71    3267.170     388.346
10543     1880.59    1614.840    1518.980
10544     5983.13    1249.710    2424.230

[10545 rows x 29 columns]

In [11]:
# file_path = '../data/uscg.search.rescue.stats.csv'
# pd.read_csv(file_path)

## **Creating DataFrames
> 1. use the dictionary data to create a DataFrame

In [14]:
data = { 'col1': ['v1', 'v2', 'v3'],
        'col2': [0, 1, 2]}

> Use this list of lists to create a DataFrame

In [15]:
data = [['v1', 0],
        ['v2', 1],
        ['v3', 2]]